

fastai            == 1.0.52
fastprogress      == 0.1.21
Flask            == 1.0.2
Jinja2            == 2.10.1
numpy            ==  1.16.3
opencv-python    ==  4.1.0.25
cmake
Werkzeug
https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl
