
{% extends "layout.html"%}
{% block content %}



<div class="container">
   <img id="image" src="/static/celeb.jpg" alt="Main" width="1250" height="600"/>
  <div class="topleft">
    <h1>Welcome to the facial feature detection website! </h1>
    <p> <b> Navigation:</b> using the sidebar to select the feature, and a camera will automatically open.</p>
  </div>
</div>

{% endblock content%}
<!--
<form method="post" action="/demo">
    <button name="demo" type="link" value="demo">Demo</button>
</form>
-->



